<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aijiu.information.dao.LeaveCommentDao">

	<select id="get" resultType="com.aijiu.information.domain.LeaveCommentDO">
		select `id`,`leave_id`,`add_time`,`delete_flag`,`user_id`,`user_name`,`header_url`,`pingjia`,`images`,`is_enable`,`type`,`product` from t_leave_comment where id = #{value}
	</select>

	<select id="list" resultType="com.aijiu.information.domain.LeaveCommentDO">
		select `id`,`leave_id`,`add_time`,`delete_flag`,`user_id`,`user_name`,`header_url`,`pingjia`,`images`,`is_enable`,`type`,`product` from t_leave_comment
        where delete_flag=0
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="leaveId != null and leaveId != ''"> and leave_id = #{leaveId} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="headerUrl != null and headerUrl != ''"> and header_url = #{headerUrl} </if>
		  		  <if test="pingjia != null and pingjia != ''"> and pingjia = #{pingjia} </if>
		  		  <if test="images != null and images != ''"> and images = #{images} </if>
		  		  <if test="isEnable != null and isEnable != ''"> and is_enable = #{isEnable} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="product != null and product != ''"> and product = #{product} </if>

        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_leave_comment
		where delete_flag=0
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="leaveId != null and leaveId != ''"> and leave_id = #{leaveId} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="headerUrl != null and headerUrl != ''"> and header_url = #{headerUrl} </if>
		  		  <if test="pingjia != null and pingjia != ''"> and pingjia = #{pingjia} </if>
		  		  <if test="images != null and images != ''"> and images = #{images} </if>
		  		  <if test="isEnable != null and isEnable != ''"> and is_enable = #{isEnable} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="product != null and product != ''"> and product = #{product} </if>

	</select>
	 
	<insert id="save" parameterType="com.aijiu.information.domain.LeaveCommentDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_leave_comment
		(
			`leave_id`, 
			`add_time`, 
			`delete_flag`, 
			`user_id`, 
			`user_name`, 
			`header_url`, 
			`pingjia`, 
			`images`, 
			`is_enable`, 
			`type`, 
			`product`
		)
		values
		(
			#{leaveId}, 
			#{addTime}, 
			#{deleteFlag}, 
			#{userId}, 
			#{userName}, 
			#{headerUrl}, 
			#{pingjia}, 
			#{images}, 
			#{isEnable}, 
			#{type}, 
			#{product}
		)
	</insert>
	 
	<update id="update" parameterType="com.aijiu.information.domain.LeaveCommentDO">
		update t_leave_comment 
		<set>
			<if test="leaveId != null">`leave_id` = #{leaveId}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="deleteFlag != null">`delete_flag` = #{deleteFlag}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="headerUrl != null">`header_url` = #{headerUrl}, </if>
			<if test="pingjia != null">`pingjia` = #{pingjia}, </if>
			<if test="images != null">`images` = #{images}, </if>
			<if test="isEnable != null">`is_enable` = #{isEnable}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="product != null">`product` = #{product}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_leave_comment where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_leave_comment where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>