<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aijiu.information.dao.MyBingzhengDao">

	<select id="get" resultType="com.aijiu.information.domain.MyBingzhengDO">
		select `id`,`user_id`,`user_name`,`publish_time`,`text` from t_my_bingzheng where id = #{value}
	</select>

	<select id="list" resultType="com.aijiu.information.domain.MyBingzhengDO">
		select `id`,`user_id`,`user_name`,`publish_time`,`text` from t_my_bingzheng
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="publishTime != null and publishTime != ''"> and publish_time = #{publishTime} </if>
		  		  <if test="text != null and text != ''"> and text = #{text} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_my_bingzheng
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="publishTime != null and publishTime != ''"> and publish_time = #{publishTime} </if>
		  		  <if test="text != null and text != ''"> and text = #{text} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.aijiu.information.domain.MyBingzhengDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_my_bingzheng
		(
			`user_id`, 
			`user_name`, 
			`publish_time`, 
			`text`
		)
		values
		(
			#{userId}, 
			#{userName}, 
			#{publishTime}, 
			#{text}
		)
	</insert>
	 
	<update id="update" parameterType="com.aijiu.information.domain.MyBingzhengDO">
		update t_my_bingzheng 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="publishTime != null">`publish_time` = #{publishTime}, </if>
			<if test="text != null">`text` = #{text}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_my_bingzheng where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_my_bingzheng where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>