<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aijiu.owneruser.dao.OwnerUserDao">

	<select id="get" resultType="com.aijiu.owneruser.domain.OwnerUserDO">
		select * from t_exerciser where id=#{id}
	</select>
	
	<select id="getbyname" resultType="com.aijiu.owneruser.domain.OwnerUserDO">
		select *  from t_exerciser where username = #{value}
	</select>

	<select id="list" resultType="com.aijiu.owneruser.domain.OwnerUserDO">
		select `id`,jianjie,good_at,jiaolian,weiguo,`heard_url`,store,store_id,`username`,`password`,images,`open_id`,`sex`,`birthday`,`nickname`,`height`,`weight`,`exercise_times`,`total_time`,`last_login_time`,`vip_degree`,`total_score`,`phone`,`name`,`register_time`,`delete_flag`,`exerciser_flag`,`Province_code`,`ProvinceName`,`CityCode`,`CityName`,`AreaCode`,`AreaName` from t_exerciser
	<where>
		<if test="id != null and id != ''"> and id = #{id} </if>
		<if test="heardUrl != null and heardUrl != ''"> and heard_url = #{heardUrl} </if>
		<if test="username != null and username != ''"> and username = #{username} </if>
		<if test="password != null and password != ''"> and password = #{password} </if>
		<if test="openId != null and openId != ''"> and open_id = #{openId} </if>
		<if test="sex != null and sex != ''"> and sex = #{sex} </if>
		<if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		<if test="nickname != null and nickname != ''"> and nickname = #{nickname} </if>
		<if test="height != null and height != ''"> and height = #{height} </if>
		<if test="weight != null and weight != ''"> and weight = #{weight} </if>
		<if test="exerciseTimes != null and exerciseTimes != ''"> and exercise_times = #{exerciseTimes} </if>
		<if test="totalTime != null and totalTime != ''"> and total_time = #{totalTime} </if>
		<if test="lastLoginTime != null and lastLoginTime != ''"> and last_login_time = #{lastLoginTime} </if>
		<if test="vipDegree != null and vipDegree != ''"> and vip_degree = #{vipDegree} </if>
		<if test="totalScore != null and totalScore != ''"> and total_score = #{totalScore} </if>
		<if test="phone != null and phone != ''"> and phone = #{phone} </if>
		<if test="name != null and name != ''"> and name = #{name} </if>
		<if test="images != null and images != ''"> and images = #{images} </if>
		<if test="registerTime != null and registerTime != ''"> and register_time = #{registerTime} </if>
		<if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		<if test="exerciserFlag != null and exerciserFlag != ''"> and exerciser_flag = #{exerciserFlag} </if>
		<if test="provinceCode != null and provinceCode != ''"> and Province_code = #{provinceCode} </if>
		<if test="provincename != null and provincename != ''"> and ProvinceName = #{provincename} </if>
		<if test="citycode != null and citycode != ''"> and CityCode = #{citycode} </if>
		<if test="cityname != null and cityname != ''"> and CityName = #{cityname} </if>
		<if test="areacode != null and areacode != ''"> and AreaCode = #{areacode} </if>
		<if test="areaname != null and areaname != ''"> and AreaName = #{areaname} </if>
	</where>
	</select>
	 
	<insert id="save" parameterType="com.aijiu.owneruser.domain.OwnerUserDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_exerciser
		(
			`heard_url`,
			`username`,
			`password`,
			`open_id`,
			`sex`,
			`birthday`,
			`nickname`,
			`height`,
			`weight`,
			`exercise_times`,
			`total_time`,
			`last_login_time`,
			`vip_degree`,
			`total_score`,
			`phone`,
			`name`,
			`register_time`,
			`delete_flag`,
			`exerciser_flag`,
			`Province_code`,
			`ProvinceName`,
			`CityCode`,
			`CityName`,
			`AreaCode`,
			`AreaName`,
			store_id,
			store,
			jianjie,
			good_at,
			`images`,
			jiaolian,
			weiguo
		)
		values
		(
			#{heardUrl},
			#{username},
			#{password},
			#{openId},
			#{sex},
			#{birthday},
			#{nickname},
			#{height},
			#{weight},
			#{exerciseTimes},
			#{totalTime},
			#{lastLoginTime},
			#{vipDegree},
			#{totalScore},
			#{phone},
			#{name},
			#{registerTime},
			#{deleteFlag},
			#{exerciserFlag},
			#{provinceCode},
			#{provincename},
			#{citycode},
			#{cityname},
			#{areacode},
			#{areaname},
			#{storeId},
			#{store},
			#{jianjie},
			#{goodAt},
			#{images},
			#{jiaolian},
			#{weiguo}
		)
	</insert>
	 
	<update id="update" parameterType="com.aijiu.owneruser.domain.OwnerUserDO">
		update t_exerciser
		<set>
			<if test="heardUrl != null">`heard_url` = #{heardUrl}, </if>
			<if test="username != null">`username` = #{username}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="openId != null">`open_id` = #{openId}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="birthday != null">`birthday` = #{birthday}, </if>
			<if test="nickname != null">`nickname` = #{nickname}, </if>
			<if test="height != null">`height` = #{height}, </if>
			<if test="weight != null">`weight` = #{weight}, </if>
			<if test="exerciseTimes != null">`exercise_times` = #{exerciseTimes}, </if>
			<if test="totalTime != null">`total_time` = #{totalTime}, </if>
			<if test="lastLoginTime != null">`last_login_time` = #{lastLoginTime}, </if>
			<if test="vipDegree != null">`vip_degree` = #{vipDegree}, </if>
			<if test="totalScore != null">`total_score` = #{totalScore}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="registerTime != null">`register_time` = #{registerTime}, </if>
			<if test="deleteFlag != null">`delete_flag` = #{deleteFlag}, </if>
			<if test="exerciserFlag != null">`exerciser_flag` = #{exerciserFlag}, </if>
			<if test="provinceCode != null">`Province_code` = #{provinceCode}, </if>
			<if test="provincename != null">`ProvinceName` = #{provincename}, </if>
			<if test="citycode != null">`CityCode` = #{citycode}, </if>
			<if test="cityname != null">`CityName` = #{cityname}, </if>
			<if test="areacode != null">`AreaCode` = #{areacode}, </if>
			<if test="areaname != null">`AreaName` = #{areaname},</if>
			<if test="storeId != null">`store_id` = #{storeId}, </if>
			<if test="store != null">`store` = #{store},</if>
			<if test="jianjie != null">`jianjie` = #{jianjie},</if>
			<if test="images != null">`images` = #{images}, </if>
			<if test="goodAt != null">`good_at` = #{goodAt},</if>
			<if test="jiaolian != null">`jiaolian` = #{jiaolian}, </if>
			<if test="weiguo != null">`weiguo` = #{weiguo}</if>
		</set>
		where id = #{id}
	</update>
</mapper>